
 #mainTitle{
    font-size: 20pt;
    font-family: calibri, arial, sans serif;
    text-align: left;
    color: white;
 }

 body {
  background: rgb(19, 19, 24);   
  color:white;
 }

 #the_bubblechart {
    margin-top: 10px;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 5.5%;
 }

 hr {
    border-color: grey;
 }

 .btn2 {
    width: 100px;
    font-family: calibri, sans serif;
    font-size: 1em;
    color: black;
    background: rgba(128, 128, 128, 0.568);
    padding-left: 0.1em;
    padding-right: 0.1em;
}

span.btn2:hover {
    background: rgb(128, 128, 128) !important;
    cursor: pointer !important;
}

.btnChangeCountries {
    font-family: calibri, sans serif;
    font-size: 1em;
    color: black;
    background: rgba(128, 128, 128, 0.568);
    width: 30%;
    text-align: center;
}

span.btnChangeCountries:hover {
    background: rgb(128, 128, 128) !important;
    cursor: pointer !important;
}

#the_chart2 {
    border: solid 0.5px grey;
    width: 301px;
    height: 301px;
    border-radius: 5px;
    cursor: pointer !important; 
 }

 #c1 {
        zoom: 0.55;
        -moz-transform: scale(0.55);
        color:white;
        bottom: 0%;
        left: 32.5%;
        position: absolute;
        border: solid 0.5px grey;
        
 }

 #network_viz_wrapper {
    zoom: 0.55;
    -moz-transform: scale(0.55);
    color:white;
    top: 9.8%;
    left: 32.6%;
    position: absolute;
    border: solid 0.5px grey;
    
}

#hor_bar_wrapper {
    zoom: 0.45;
    -moz-transform: scale(0.45);
    color:white;
    bottom: 193px;
    left: 156px;
    position: absolute;
    border: solid 0.5px grey !important;

}
 

#buttonsbubble{
    padding-left : 0.2em
}

#countriesb {
    background: rgb(128, 128, 128);
}

/* Dropdown Button */
.dropbtn {
    position: relative;
    left: 120%;
    background-color: rgba(128, 128, 128, 0.568);;
    color: black;
    padding: 0px;
    font-family: calibri, sans serif;
    font-size: 1em;
    min-width: 70px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(128, 128, 128);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: 120%;
    background-color: grey;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 0px;
    font-family: calibri, sans serif;
    font-size: 0.8em;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.undone{
    border: solid 0.5px grey;   
    position:absolute;
    top: 9.6%;
}

#undone1{
    width: 527px;
    height: 45%;
    left: 423px;
}

#undone2{
    width: 405px;
    height: 88.8%;
    left: 0.5%;
}

#undone3{
    width: 50px;
    height: 50px;
    visibility: hidden;
}

#undone4{
    width: 50px;
    height: 50px;
    visibility: hidden;
}